<br/><br/><br/>
<table >
<tr>
<td width="100px" align="right">
<span style="font-size:0.98em"><b>Email:</b></span></td> <td > <span style="margin-left:20px;font-size:0.90em"><%= @user.email %></span></td>
</tr>
<td width="100px" align="right">
<span style="font-size:0.98em"><b>Id:</b></span></td><td><span style="margin-left:20px;font-size:0.90em"> <%= @user.id %></span></td>
</tr>
</table>

<%= link_to 'Items', task_items_path %>

